@use "./variables" as *;
@use "./fonts" as *;

//BUTTON
%btn {
  border-radius: 10px;
  border: none;
  background-color: $primary-red;
  color: #ffffff;
  font-weight: $normal-font;
  padding: 12px 60px;
  transition: transform 80ms ease-in;
}

//FLEX ITEMS
%flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

// SOCIAL MEDIA ICON
%social-media {
  @extend %flex-item;
  padding: 30px;
  border-radius: 50%;
  border: 1px solid #d4cece;
  height: 40px;
  width: 40px;
}

// INPUTS
%input {
  border: none;
  padding: 12px 15px;
  margin: 5px 0;
  width: 100%;
  background-color: $input-bg;
  color: $placeholder-color;
  font-size: $small-text;
}

// SIGNING CONTAINERS
%sign-container-position {
  left: 0;
  width: 50%;
  z-index: 1;
}
