@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

//FONT WEIGHT 400
$light-font: 400;

//FONT WEIGHT 500
$normal-font: 500;

//FONT WEIGHT 700
$bold-font: 700;

//FONT SIZE 20PX
$medium-text: 20px;

//FONT SIZE 14PX
$small-text: 14px;
