@use "./index" as *;
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

// RESETTING BROWSER DEFAULT STYLES
* {
  box-sizing: border-box;
}

// BODY
body {
  font-family: "Montserrat", sans-serif;
  @extend %flex-item;
  flex-direction: column;
  height: 100vh;
  margin-top: -20px 0 50px;
}

// HEADINGS
h1 {
  font-weight: $bold-font;
  margin: 0;
}

//PARAGRAPHS INSIDE OVERLAYS
p {
  font-size: $small-text;
  font-weight: $bold-font;
  line-height: 20px;
  margin: 20px 0 30px;
}

a {
  color: $secondary-black;
  font-size: $small-text;
  text-decoration: none;
  margin: 15px 0 20px;
}

span {
  margin-bottom: 20px;
}

// CONTAINER
.container {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

// THE FORMS INSIDE EACH SIGN-IN $ SIGN-UP
.main-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  // FORM
  form {
    @extend %flex-item;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  //INPUTS
  input {
    @extend %input;
  }
  //SMALL BUTTONS
  button {
    @extend %btn;
    &:active {
      transform: scale(0.9);
    }
  }
}
// SIGN IN CONTAINER
.sign-in-container {
  @extend %sign-container-position;
  z-index: 2; //always on top of the sign up
}
// SIGN UP CONTAINER
.sign-up-container {
  background-color: #fff;
  @extend %sign-container-position;
  opacity: 0;
}
// SOCIAL MEADIA
.social-media {
  margin: 5px 0 20px;
  @extend %flex-item;
  gap: 20px;
  a {
    @extend %social-media;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  //BIG TRANSPARENT BUTTONS
  button {
    @extend %btn;
    border: 2px solid #fff;
    background: transparent;
  }
}

.overlays {
  background: $bg-gradient;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%; //200 * 50 = 100
  transform: translateX(0);
  transition: transform 0.6 ease-in-out;
}
.overlay-cards {
  position: absolute;
  top: 0;
  @extend %flex-item;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 0 40px;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6 ease-in-out;
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}
.overlay-left {
  transform: translateX(-20%);
}
